
JWT_SIGNER_KEY=JbkeHOoV80MgJ5PuhqeC5sElK3DpLzNr7EExafczUD4oETLYQyEcg28TPug3MyyLy1Y34vDitUqvwjdZLiGZ1Z
# DB for Auth, Timeline, Notification
DB_URL=jdbc:postgresql://aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.jegerdfhcbrcziuuhsbe
DB_PASSWORD=BripbPKL9y4AWz2A

# DB for Place
PLACE_DB_ENABLED=true
PLACE_DB_URL=jdbc:postgresql://aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
PLACE_DB_USERNAME=postgres.jegerdfhcbrcziuuhsbe
PLACE_DB_PASSWORD=BripbPKL9y4AWz2A

